/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}
ul.parsley-errors-list {
    list-style: none;
    color: #E74C3C;
    padding-left: 0;
}

input.parsley-error,
textarea.parsley-error,
select.parsley-error {
    background: #FAEDEC;
    border: 1px solid #E85445;
}

.btn-group .parsley-errors-list {
    display: none;
}
